body{
  background: #f9f9f9;
  padding: 0;
  margin: 10px;
  font-family: sans-serif;
}
h1{
  font-size: 16px;
  text-align: center;
}
ul.navigation {
    list-style: none;
}
.navigation li {
    padding: 5px;
    display: inline-block;
}
p{
  font-size: 13px;
  text-align: center;
  color: #232323;
}
form.form-controller {
  width: 100%;
}
label {
  display: block;
  padding: 10px 0px 5px 0px;
}
input {
  width: 500px;
  height: 20px;
  font-size: 15px;
  padding: 7px;
  color: #505050;
}
button.submit {
  margin: 10px 0px 0px 0px;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  background: #d0cfcf;
}
.container {
  text-align: center;
}
.show-items {
    margin: auto;
    width: 631px;
    background: #cecece;
    border-radius: 5px;
}
ul.ul-list {
    padding: 0px 0px 0px 0px;
    list-style: none;
}
ul.ul-list li {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}
ul.ul-list li:hover {
  background: lightgreen;
  cursor: pointer;
}
ul.ul-list li:last-child {
    padding: 10px 0px 10px 0px;
    border-bottom: 0;
}
